
<div class="row" ng-controller="PromiseCtrl">
    <div class="col-md-4">
        <h3 class="widget-title">Looking for reviews?</h3>
        <form name="courseForm" class="form-inline" data-ng-submit="Formprocess()" >
            <div class="form-group">
                <label for="course-list">Courses:</label>
                <select ng-change="selectClicked()"  name="selectedID" id="selectedID"  data-ng-model ="Dataform.selectedID" class="form-control"  data-ng-required="true">
                    <option value="">Select Course</option>
                    <option data-ng-repeat="y in Dataform.course_ID">{{y.course_id}}</option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary" >Search</button>
        </form>

    </div>
    <div class="col-md-7">
        <div class="col-md-8">
            <p class="widget-title">Address</p>
            <section style="margin-bottom: 0px;">
                <p style="font-weight: bolder">Temple University Computer & Information Sciences</br>
                    1925 N. 12th Street </br>
                    Philadelphia, PA 19122</br>
                    Phone: 215- 204-8450 | Fax: 215- 204-5082 </br>
                    Email: cis@temple.edu</p>
            </section>
        </div>
        <div class="col-md-2">
            <div class="images">
                <img src="assets/img/logo/serc.jpg" alt="image" width="125px" height="200px">
            </div>
        </div>

    </div>

    <div class="col-md-4">

        <div class="panel panel-default">
            <div class="panel-heading" style="overflow-y: scroll; color: black; font-size: 16px;">
                <h6>Courses With Highest feedback:</h6>

            </div>
            <div class="panel-body">
                {{countt[0].course_id}},
                {{countt[1].course_id}},
                {{countt[2].course_id}},
                {{countt[3].course_id}},
                {{countt[4].course_id}},





            </div>
        </div>

    </div>


    <div class="col-md-7">
        <div class="panel panel-default" >
            <div class="panel-heading">Most Recent Feedback:</div>
            <div class="panel-body" style="height: 540px; overflow-y: scroll; color: black;">
                <form role="form" class="form-horizontal">



                    <div class="list-group-item" >
                        <div class="row" ng-hide="initialData();" ng-repeat="x in initialdataset">
                            <!--that display all the data-->
                            <div class="col-md-2" style="float: left; font-weight: 16px;">
                                <br style="float:left;"> {{x.courseid}}
                                <br style="float:left;"> Helpfulness: {{x.helpfulness}}
                                <br style="float:left;"> Easiness: {{x.easiness}}
                                <br style="float:left;"> Clarity: {{x.clarity}}
                            </div>
                            <div class="col-md-10">
                                <textarea class="form-control" rows="4" readonly> {{x.comment_text}}</textarea>
                            </div>
                            <div class="postinfobot">
                                <div class="likeblock pull-left">
                                    <a href="#" class="up"><i class="fa fa-thumbs-o-up"></i>10</a>
                                    <a href="#" class="down"><i class="fa fa-thumbs-o-down"></i>2</a>
                                </div>
                                <div class="prev pull-left">
                                    <a href="#"><i class="fa fa-reply"></i></a>
                                </div>
                                <div class="posted pull-left">
                                    <i class="fa fa-clock-o"></i>
                                    Posted:
                                    {{x.f_name}} {{x.l_name}}
                                    {{x.time_stamp}}</div>
                            </div>

                        </div> 
                        <div class="row" ng-repeat="x in example2">
                            <div class="col-md-2" style="float: left; font-weight: 16px;">
                                <br style="float:left;"> {{x.courseid}}
                                <br style="float:left;"> Helpfulness: {{x.helpfulness}}
                                <br style="float:left;"> Easiness: {{x.easiness}}
                                <br style="float:left;"> Clarity: {{x.clarity}}
                            </div>
                            <div class="col-md-10">
                                <textarea class="form-control" rows="4" readonly> {{x.comment_text}}</textarea>
                            </div>
                            <div class="postinfobot">
                                <div class="likeblock pull-left">
                                    <a href="#" class="up"><i class="fa fa-thumbs-o-up"></i>10</a>
                                    <a href="#" class="down"><i class="fa fa-thumbs-o-down"></i>2</a>
                                </div>
                                <div class="prev pull-left">
                                    <a href="#"><i class="fa fa-reply"></i></a>
                                </div>
                                <div class="posted pull-left">
                                    <i class="fa fa-clock-o"></i>
                                    Posted:
                                    {{x.f_name}} {{x.l_name}}
                                    {{x.time_stamp}}</div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>

</div>


<a href="http://www.owlcis.me" style="float: right; font-weight: bolder; color: white; ">More Reviews</a>

