<div class="rows" ng-controller="review"> 
    <h3 class="widget-title">Looking for reviews?</h3>
    <form name="courseForm" class="form-inline" data-ng-submit="Formprocess()" >
        <div class="form-group">
            <label for="course-list">Courses:</label>
            <select  name="selectedID" id="selectedID"  data-ng-model ="Dataform.selectedID" class="form-control"  data-ng-required="true">
                <option value="">Select Course</option>
                <option data-ng-repeat="y in Dataform.course_ID">{{y.course_id}}</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary" >Search</button>
    </form>
    <div class="text-center" >
        <form class="form-horizontal" >
            
            <h1 class="widget-title">Course Review</h1>        
           {{thisreview}}
           

           
           
           
            <div class="col-md-12">
                <div class="list-group-item" >
                    <div class="row" ng-repeat="x in example2">
                        <div class="col-md-2" style="float: left; font-weight: 16px;">
                            <br style="float:left;"> {{x.courseid}}
                            <br style="float:left;"> {{x.reviewid}}
                            <br style="float:left;"> Helpfulness: {{x.helpfulness}}
                            <br style="float:left;"> Easiness: {{x.easiness}}
                            <br style="float:left;"> Clarity: {{x.clarity}}
                        </div>
                        <div class="col-md-10">
                            <textarea class="form-control" rows="4" readonly> {{x.comment_text}}</textarea>
                        </div>
                        <div class="postinfobot">
                            <div class="likeblock pull-left">
                                <a href="#" class="up">
                                    <i class="fa fa-thumbs-o-up" ng-click="like()">
                                         DB: {{x.thumbsup}}
                                    </i></a>
                                       
                                {{myjson}}
                                
                                <a href="#" class="down"><i class="fa fa-thumbs-o-down">
                                    
                                    </i>DB: {{x.thumbsdown}}</a>
                            </div>
                            <div class="prev pull-left">
                                <a href="#"><i class="fa fa-reply"></i></a>
                            </div>
                            <div class="posted pull-left">
                                <i class="fa fa-clock-o"></i>
                                Posted:
                                {{x.f_name}} {{x.l_name}}
                                {{x.time_stamp}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>